@model RecetPasswordVM

<!-- Main -->
<main class="main">
    <div class="container">
        <div class="page-header breadcrumb-wrap">
            <div class="breadcrumb">
                <a asp-controller="Home" asp-action="Index"><i class="fas fa-home mr-10"></i>Home</a>
                <span></span> Recet password
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="login-wrap">
                                <h4 class="log-title">Forgot Password</h4>
                                <form method="post">
                                    <div class="form-group">
                                        <label asp-for="NewPassword"></label>
                                        <input asp-for="NewPassword">
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword"></label>
                                        <input asp-for="ConfirmPassword">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-brand">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="new-customer">
                                <h4 class="log-title">New Customer</h4>
                                <p>Sign up for early Sale access plus tailored new arrivals, trends and promotions. To opt out, click unsubscribe in our emails.</p>
                                <a asp-controller="Account" asp-action="Register" class="btn btn-reg">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- /Main -->
