@model CreateIconVM
<form method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control form-control-user"
               placeholder="Title">
               <span asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control form-control-user"
                placeholder="Description">
                <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="IconString"></label>
        <input asp-for="IconString" class="form-control form-control-user"
               placeholder="Icon String">
               <span asp-validation-for="IconString"></span>
    </div>
    <div class="text-center"><button type="submit">Create Icon</button></div>
</form>